/* build time:Mon Oct 25 2021 10:36:42 GMT+0800 (Hong Kong Standard Time)*/
span{display:inline-block;transition:transform .6s cubic-bezier(.65,.02,.23,1);transform:translate(20%,100%);position:relative;z-index:1;letter-spacing:-.03em;text-shadow:3px 4px 0 rgba(0,0,0,.1);line-height:.9;display:block;transform:none}
/* rebuild by neat */